li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background: #2e2e2e;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 2rem;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 5px;
    width: 100%;
    height: 60px;
}

.pending-task{
    color: #ffffff;
    transition: color 0.15s ease;
}

.completed-task {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: #a8a8a8;
    transition: color 0.15s ease;
}

.status-button, 
.remove-button {
    all:unset;
}

.status-button:hover, 
.remove-button:hover {
    all:unset;
}

.remove-button {
    float: right;
}