.header-container {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    height: 6rem;
    background-color: #0ab6ab;
  }

/* .header-left,
.header-center,
.header-right {
  flex: 1;
} */

h1 {
    font-family: sans-serif;
    font-size: 1rem;
}